<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style1.css">
    <title>Assignment 5</title>
    <style>
       
    </style>
</head>
<body>
    {{> header}}
  <div class="container ">
        <!-- banner -->

        <img src="/img/ban.jpg" alt="banner" srcset="" style="height:76%; width: 50%;">
  
  <div class="centered"><h2>ASSIGNMENT-5</h2></div>


        <!-- banner -->
    </div>
    {{> footer}}
</body>
</html>

